#bar-container
  width: 100%
  position: fixed!important
  height: 40px
  z-index: 1

#menubar
  height: 37px
  background-color: white
  max-width: 960px
  width: 100%
  margin: auto

#logo
  width: 171px
  height: 29px
  margin: auto
  position: relative
  top: 4px
  background-color: transparent

#image-logo
  background-color: transparent

#categorybar
  margin: auto
  height: 3px
  max-width: 960px
  width: 100%
  box-shadow: 1px 1px 1px 0px rgba(184,184,184,1)


#category
  width: 20%
  height: 100%
  float: left

#one
  @extend #category
  background-color: red

#two
  @extend #category
  background-color: green

#three
  @extend #category
  background-color: #00b3ee

#four
  @extend #category
  background-color: orangered

#five
  @extend #category
  background-color: yellow
